<div class="section no-pad-bot" id="index-banner">
  <div class="container">
    <%= render "shared/search_form" %>

    <div class="col s12">
      <div class="card grey darken-4">
        <div class="card-content">
          <span class="card-title grey-text text-darken-1">
            <%= t(".find_by_style") %>
          </span>
          <span class="grey-text text-darken-1">
            <div class="row center-align filters">
              <div class="col s12 m4">
                <div id="color-input"></div>
                <div class="filter-label"><%= t(".filters.color") %></div>
              </div>
              <div class="col s12 m4">
                <div id="ibu-input"></div>
                <div class="filter-label"><%= t(".filters.ibu") %></div>
              </div>
              <div class="col s12 m4">
                <div id="abv-input"></div>
                <div class="filter-label"><%= t(".filters.abv") %></div>
              </div>
              <div class="col s12">
                <div class="progress" id="preloader" style="display: none;">
                  <div class="indeterminate"></div>
                </div>
              </div>
              <div class="col s12" id="styles">
                <i class="material-icons">info_outline</i>
                <span class="icon-text"><%= t(".filters.message") %></span>
              </div>
            </div>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
