<% @styles.each do |style| %>
  <div class="col s12 m6 l4">
    <%= link_to beers_path(q: { style_original_id_eq: style.original_id }) do %>
      <div class="card">
        <div class="card-content">
          <span class="card-title"><%= style.short_name %></span>
          <div class="clearfix">
            <div class="left third">
              <span class="new badge <%= color_class(style) %>" data-badge-caption=""><%= "#{style.srm_min}-#{style.srm_max}" %></span>
              <p><%= t(".color") %></p>
            </div>
            <div class="left third">
              <span class="amber-text text-darken-2"><%= "#{style.ibu_min}-#{style.ibu_max}" %></span>
              <p><%= t(".ibu") %></p>
            </div>
            <div class="left third">
              <span class="amber-text text-darken-2"><%= "#{style.abv_min}-#{style.abv_max}" %></span>
              <p><%= t(".abv") %></p>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
